{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded flex" style="max-height: 200px;">
        <center><img src="/uploads/images/connexion.png" alt="pas de chance" style="margin-top: -70px;"></center>
    </div>
    <div class="container bg-light center rounded" style="padding: 30px;margin-top: 1em;">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
        {% endif %}
        <form action="{{ path('security.login') }}" method="post">
            <div class="form-group">
                <input placeholder="Votre adresse Email" required name="_username" type="text" class="form-control" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <input placeholder="Votre mot de passe" required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Connexion :)</button>
            </div>
        </form>
    </div>

{% endblock %}