{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron container">
  <h2 style="text-align:center;">CONDITIONS GENERALES D'UTILISATION DU SERVICE LA FOIRE AUX PLANTES (26/01/2020)</h2>
</div>

<div class="container bg-light rounded" style="padding: 30px;">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span style="font-weight: bold;font-size: large;">préambule définitions :</span> 
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>Chacun des termes mentionnés ci-dessous aura dans les présentes Conditions Générales d'Utilisation du Service La foire aux plantes (ci-après dénommées les " CGU ") la signification suivante :</p>
          <p><strong>Acheteur :</strong> désigne tout Utilisateur personne physique majeure titulaire d’un Compte Personnel qui achète ou souhaite acheter un ou plusieurs Biens sur le Site à un Vendeur.</p>
          <p><strong>Annonce :</strong>désigne l'ensemble des éléments et données (visuelles, textuelles ,photographies, dessins), déposé par un Annonceur sous sa responsabilité éditoriale, en vue d'acheter ou de vendre un bien ou de proposer ou de rechercher un bien et diffusé sur le Site.</p>
          <p><strong>Annonceur :</strong>désigne toute personne Physique majeure ou personne morale établie en France (inclus les DOM), titulaire d’un Compte Personnel, et ayant déposé et mis en ligne une Annonce via le Service La foire aux plantes. </p>
          <p><strong>Bien :</strong>désigne tout produit dont la vente n’est pas interdite par la réglementation française applicable ni par les règles de diffusion du Site et qui est proposé à la vente par le Vendeur sur le Site via le Service de Paiement Sécurisé.</p>
          <p><strong>Compte Personnel :</strong>désigne l'espace gratuit, accessible depuis le Site Internet et les Applications, que tout Annonceur Particulier doit se créer, et à partir duquel il peut diffuser, gérer et visualiser ses Annonces.</p>
          <p><strong>Service La foire aux plantes :</strong>désigne les services La foire aux plantes mis à la disposition des Utilisateurs et des Annonceurs sur le Site Internet et les Applications tels que décrits à l'article 2 des présentes CGU.</p>
          <p><strong>Site :</strong>désigne le site internet exploité par La foire aux plantes accessible principalement depuis l'URL www.La foire aux plantes.fr et permettant aux Utilisateurs et aux Annonceurs d'accéder via internet au Service La foire aux plantes décrit à l'article 3.1 des présentes CGU.</p>
          <p><strong>Utilisateur :</strong>désigne tout visiteur, ayant accès au Service La foire aux plantes via le Site et les Applications et consultant le Service La foire aux plantes, accessible depuis les différents supports.</p>
          <p><strong></strong></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span style="font-weight: bold;font-size: large;">article 1 : Acceptation:</span> 
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>Les CGU ont pour objet de déterminer les conditions d'utilisation du Service La foire aux plantes mis à disposition des Utilisateurs et des Annonceurs et du Service de Paiement Sécurisé mis à disposition des Vendeurs et Acheteurs via le Site et les Applications.</p>
            <p>Tout Utilisateur - tout Annonceur, tout Acheteur et tout Vendeur déclare en accédant et utilisant le service La foire aux plantes , depuis le Site et/ou les Applications, avoir pris connaissance des présentes Conditions Générales d’Utilisation et les accepter expressément sans réserve et/ou modification de quelque nature que ce soit. Les présentes CGU sont donc pleinement opposables aux Utilisateurs, aux Annonceurs, aux Acheteurs et aux Vendeurs.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span style="font-weight: bold;font-size: large;">article 2 : utilisation du service LA FOIRE AUX PLANTES :</span> 
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <p>Tout Utilisateur – tout Annonceur déclare être informé qu’il devra, pour accéder au Service La foire aux plantes, disposer d’un accès à l’Internet souscrit auprès du fournisseur de son choix, dont le coût est à sa charge, et reconnaît que :</p>
          <br>
          <p>La fiabilité des transmissions est aléatoire en raison, notamment, du caractère hétérogène des infrastructures et réseaux sur lesquelles elles circulent et que, en particulier, des pannes ou saturations peuvent intervenir ;</p>
          <br>
          <p>Il appartient à l’Annonceur de prendre toute mesure qu’il jugera appropriée pour assurer la sécurité de son équipement et de ses propres données, logiciels ou autres, notamment contre la contamination par tout virus et/ou de tentative d’intrusion dont il pourrait être victime ;</p>
          <br>
          <p>Tout équipement connecté au Site est et reste sous l’entière responsabilité de l’Annonceur, la responsabilité de La foire aux plantes ne pourra pas être recherchée pour tout dommage direct ou indirect qui pourrait subvenir du fait de leur connexion au Site Internet.</p>
          <br>
          <p>L’Annonceur s’engage, le cas échéant, à respecter et à maintenir la confidentialité des Identifiants de connexion à son Compte Personnel et reconnaît expressément que toute connexion à son Compte Personnel , ainsi que toute transmission de données depuis son Compte Personnel sera réputée avoir été effectuée par l’Annonceur.</p>
          <br>
          <p>Toute perte, détournement ou utilisation des Identifiants de connexion et leurs éventuelles conséquences relèvent de la seule et entière responsabilité de l’Annonceur.</p>
          <br>
          <p>L'Annonceur est informé qu'en publiant son Annonce sur le Site, celle-ci est susceptible d'être partagée par tout Utilisateur et/ou tout Annonceur sur le réseau social Facebook ou internet.</p>
          <br>
          <p>Toute Annonce publiée sera diffusée sur le Site.</p>
          <br>
          <strong>1) Fonctionnalités accessibles aux Annonceurs et aux Utilisateurs non logués depuis le Site et les Applications</strong>
          <br><br>
          <p>La consultation de toutes les Annonces diffusées</p>
          <p>La mise en contact avec les Annonceurs</p>
          <p>Signaler un abus</p>
          <br>
          <strong>2) Fonctionnalités accessibles depuis le Site aux Annonceurs Particuliers logués</strong>
          <br><br>
          <p>Le dépôt d'Annonce</p>
          <p>La gestion d'Annonce via l'onglet "Mon profil" du Compte Personnel :</p>
          <p>la suppression d'Annonce </p>
          <p>la modification d'Annonce</p>
          <p>la gestion (actualisation, modification etc.), à tout moment, des informations personnelles renseignées lors de la création du Compte Personnel.</p>
          <p>Informations obligatoires : nom, prénom, email, mot de passe</p>
          <p>Information facultative : numéro de téléphone </p>
          <p>Les Utilisateurs et Annonceurs sont seuls responsables du contenu des messages privés échangés via  Mail.</p>
          <p>Nous recommandons aux Utilisateurs et aux Annonceurs de faire preuve de vigilance dans la communication à leur interlocuteur d’informations personnelles.</p>
          <p>La foire aux plantes se réserve la faculté de suspendre ou interdire l’accès au Service La foire aux plantes de tout Utilisateur ou Annonceur ne respectant les présentes Conditions d’Utilisation.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <span style="font-weight: bold;font-size: large;">article 3 : modération des annonces :</span> 
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          <p>La foire aux plantes se réserve le droit de supprimer, sans préavis ni indemnité, toute Annonce qui ne serait pas conforme aux règles de diffusion du Service La foire aux plantes et/ou qui serait susceptible de porter atteinte aux droits d'un tiers.</p>
          <br>
          <p>Il est permis à tout Utilisateur de signaler un contenu abusif à partir du Site et des Applications :</p>
          <p> soit en cliquant sur le lien "signaler l'annonce" situé sur chaque page d'Annonce.</p>
          <p> soit en cliquant sur le lien "signaler l'utilisateur" situé sur chaque page d'Annonce.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            <span style="font-weight: bold;font-size: large;">article 4 : responsabilités et garanties :</span> 
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          <p>L'Annonceur garantit détenir tous les droits (notamment des droits de propriété intellectuelle) ou avoir obtenu toutes les autorisations nécessaires à la publication de son Annonce.</p>
          <p>L'Annonceur garantit que l'Annonce ne contrevient à aucune réglementation en vigueur (notamment relatives à la publicité, à la concurrence, à la promotion des ventes, à l'utilisation de la langue française, à l'utilisation de données personnelles, à la prohibition de la commercialisation de certains biens ou services), ni aucun droit de tiers (notamment aux droits de propriété intellectuelle et aux droits de la personnalité) et qu'il ne comporte aucun message diffamatoire ou dommageable à l'égard de tiers.</p>
          <p>Ainsi, l'Annonceur s'engage notamment à ce que l'Annonce ne contienne :</p>
          <p>aucun lien hypertexte redirigeant les Utilisateurs notamment vers des sites internet exploités par tout tiers à la société La foire aux plantes</p>
          <p>aucune information fausse, mensongère ou de nature à induire en erreur les Utilisateurs</p>
          <p>aucune mention diffamatoire ou de nature à nuire aux intérêts et/ou à l'image de La foire aux plantes ou de tout tiers</p>
          <p>aucun contenu portant atteinte aux droits de propriété intellectuelle de tiers</p>
          <p>aucun contenu à caractère promotionnel ou publicitaire en lien avec l'activité de l'Annonceur. En effet, une Annonce est destinée à promouvoir un produit et n'est pas un support de publicité</p>
          <p>L'Annonceur s'engage à ne proposer dans les Annonces que des biens disponibles dont il dispose. L'Annonceur s'engage, en cas d'indisponibilité du bien, à procéder au retrait de l'Annonce du Service La foire aux plantes dans les plus brefs délais.</p>
          <p>L'Annonceur déclare connaître l'étendue de diffusion du Site, avoir pris toutes précautions pour respecter la législation en vigueur des lieux de réception et décharger La foire aux plantes de toutes responsabilités à cet égard.</p>
          <p>Dans ce cadre, l'Annonceur déclare et reconnaît qu'il est seul responsable du contenu des Annonces qu'il publie et rend accessibles aux Utilisateurs, ainsi que de tout document ou information qu'il transmet aux Utilisateurs.</p>
          <p>L'Annonceur assume l'entière responsabilité éditoriale du contenu des Annonces qu'il publie.</p>
          <p>En conséquence, l'Annonceur relève La foire aux plantes, ses sous-traitants et fournisseurs, de toutes responsabilités, les garantit contre tout recours ou action en relation avec l'Annonce qui pourrait être intenté contre ces derniers par tout tiers, et prendra à sa charge tous les dommages-intérêts ainsi que les frais et dépens auxquels ils pourraient être condamnés ou qui seraient prévus à leur encontre par un accord transactionnel signé par ces derniers avec ce tiers , nonobstant tout dommages-intérêts dont La foire aux plantes, ses sous-traitants et fournisseurs pourraient réclamer à raison des faits dommageables de l’Annonceur.</p>
          <p>En déposant toute Annonce, chaque Annonceur reconnaît et accepte que La foire aux plantes puisse supprimer, ou refuser, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Annonceur aux fins de son dépôt ou de la souscription à des Options Payantes, une Annonce qui serait contraire notamment à la loi française, aux règles de diffusion du Service La foire aux plantes fixées par La foire aux plantes et accessibles ici et/ou susceptible de porter atteinte aux droits de tiers.</p>
          <p>De manière générale, il est de la responsabilité des Annonceurs de vérifier leur statut de particulier ou de professionnel, notamment au regard des articles L 121-1 et L 110-1 du Code de commerce selon lesquels "sont commerçants ceux qui exercent des actes de commerce et en font leur profession habituelle" et "La loi répute actes de commerce : tout achat de biens meubles pour les revendre, soit en nature, soit après les avoir travaillés et mis en oeuvre [...]".</p>
          <p>En cas de diffusion d'Annonces par un Annonceur inscrit en tant que particulier titulaire d'un Compte Personnel, dont l'activité peut être assimilée à une activité professionnelle, La foire aux plantes se réserve le droit de restreindre l'utilisation du Service, notamment de refuser ou limiter le nombre d'Annonces que l'Annonceur peut mettre en ligne sur le Site.</p>
          <p>Toute Annonce est diffusée, à compter du jour de son dépôt, sur le Site Internet.</p>
          <p>L'Annonceur s'engage également à ce que son Compte Personnel ne contienne :</p>
          <p> aucune information obligatoire fausse et/ou mensongère</p>
          <p>aucune information portant atteinte aux droits d'un tiers</p>
          <p>Dans ce cadre, le titulaire déclare et reconnaît qu'il est seul responsable des informations renseignées lors de la création de son Compte Personnel.</p>
          <p>En créant un Compte Personnel, chaque titulaire reconnaît et accepte que La foire aux plantes puisse supprimer, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Annonceur aux fins de souscription à des Options Payantes, un compte qui serait contraire notamment à la loi française et/ou aux règles de diffusion fixées par La foire aux plantes et accessibles ici.</p>
          <p>L’Annonceur reconnait et accepte que La foire aux plantes puisse lui demander tout document permettant de vérifier la qualité renseignée lors de la création de son Compte Personnel et la détention des droits et/ou l’obtention des autorisations nécessaires à la publication de son annonce.</p>
          <p>A défaut de communication des justificatifs demandés, La foire aux plantes est en droit de supprimer, ou refuser, à tout moment, sans indemnité ni droit à remboursement des sommes engagées par l'Annonceur aux fins de son dépôt ou de la souscription à des Options Payantes.</p>
          <p>En sa qualité d'hébergeur, La foire aux plantes est soumise à un régime de responsabilité atténuée prévu aux articles 6.I.2. et suivants de la loi nº2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
          <p>La foire aux plantes ne saurait donc en aucun cas être tenue responsable du contenu des Annonces publiées par les Annonceurs ainsi que des messages et contenus échangés via la Messagerie et ne donne aucune garantie, expresse ou implicite, à cet égard.</p>
          <p>La foire aux plantes est un tiers aux correspondances et relations entre les Annonceurs et les Utilisateurs, et exclut de ce fait toute responsabilité à cet égard.</p>
          <p>La foire aux plantes s'engage à mettre en œuvre tous les moyens nécessaires afin d'assurer au mieux la fourniture du Service La foire aux plantes aux Utilisateurs et aux Annonceurs et du Service de Paiement Sécurisé aux Vendeurs et aux Acheteurs.</p>
          <p>Toutefois, La foire aux plantes décline toute responsabilité en cas de :</p>
          <p>interruptions, de pannes, de modifications et de dysfonctionnement du Service La foire aux plantes, quel que soit le support de communication utilisé et ce quelles qu'en soient l'origine et la provenance,</p>
          <p>la perte de données ou d'informations stockées par La foire aux plantes . Il incombe aux Annonceurs de prendre toutes précautions nécessaires pour conserver les Annonces qu'ils publient via le Service La foire aux plantes;</p>
          <p>impossibilité momentanée d'accès au Site Internet en raison de problèmes techniques et ce quelles qu'en soient l'origine et la provenance,</p>
          <p>dommages directs ou indirects causés à l'Utilisateur ou l'Annonceur, quelle qu'en soit la nature, résultant du contenu des Annonces et/ou de l'accès, de la gestion, de l'Utilisation, de l'exploitation, du dysfonctionnement et/ou de l'interruption du Service La foire aux plantes,</p>
          <p>utilisation anormale ou d'une exploitation illicite du Service La foire aux plantes par tout Utilisateur ou Annonceur,</p>
          <p>attaque ou piratage informatique, privation, suppression ou interdiction, temporaire ou définitive, et pour quelque cause que ce soit, de l’accès au réseau internet.</p>
          <p>La responsabilité de La foire aux plantes ne pourra être engagée que pour les dommages directs subis par l’Annonceur, résultant d’un manquement à ses obligations contractuelles telles que définies aux présentes. L’Utilisateur – l’Annonceur renonce donc à demander réparation à La foire aux plantes à quelque titre que ce soit, de dommages indirects tels que le manque à gagner, la perte de chance, le préjudice commercial ou financier, l’augmentation de frais généraux ou les pertes trouvant leur origine ou étant la conséquence de l’exécution des présentes.</p>
          <p>Tout Utilisateur et Annonceur est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourraient en découler. L'Utilisateur renonce également à exercer tout recours contre La foire aux plantes dans le cas de poursuites diligentées par un tiers à son encontre du fait de l'Utilisation et/ou de l'exploitation illicite du Service La foire aux plantesen cas de perte par un Utilisateur ou un Annonceur de son mot de passe ou en cas d'usurpation de son identité.</p>
          <p>Les Utilisateurs et Annonceurs reconnaissent que les établissements points de rencontre suggérés sur le Site Internet comme lieu pour procéder à la transaction entre l'Annonceur et l'acheteur, sont mentionnés uniquement à titre indicatif et que la responsabilité de ces derniers ne pourra en aucun cas être engagée quant aux transactions réalisées dans leurs établissements. Les Utilisateurs et Annonceurs sont seuls responsables des transactions ainsi réalisées et de leurs conséquences.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            <span style="font-weight: bold;font-size: large;">article 5 : propriété intellectuelle :</span> 
          </button>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          <p>Tous les droits de propriété intellectuelle (tels que notamment droits d'auteur, droits voisins, droits des marques, droits des producteurs de bases de données) portant tant sur la structure que sur les contenus du Site et des Applications et notamment les images, photographies, logos, marques, éléments graphiques, textuels, visuels, outils, logiciels, documents, données, etc. (ci-après désignés dans leur ensemble " Eléments ") sont réservés. Ces Eléments sont la propriété de La foire aux plantes. Ces Eléments sont mis à disposition des Utilisateurs et des Annonceurs, à titre gracieux, pour la seule utilisation du Service La foire aux plantes, du Service de Paiement Sécurisé et du Service de Livraison, et dans le cadre d'une utilisation normale de ses fonctionnalités. Les Utilisateurs et les Annonceurs s'engagent à ne modifier en aucune manière les Eléments.</p>
          <p>Toute utilisation non expressément autorisée des Eléments du Site Internet et des Applications entraîne une violation des droits d'auteur et constitue une contrefaçon. Elle peut aussi entraîner une violation des droits à l'image, droits des personnes ou de tous autres droits et réglementations en vigueur. Elle peut donc engager la responsabilité civile et/ou pénale de son auteur.</p>
          <p>Il est interdit à tout Utilisateur et Annonceur de copier, modifier, créer une œuvre dérivée, inverser la conception ou l'assemblage ou de toute autre manière tenter de trouver le code source, vendre, attribuer, sous licencier ou transférer de quelque manière que ce soit tout droit afférent aux Eléments.</p>
          <p>Tout Utilisateur et Annonceur du Service La foire aux plantes s'engagent notamment à ne pas :</p>
          <p>utiliser ou interroger le Service La foire aux plantes pour le compte ou au profit d'autrui ;</p>
          <p>extraire, à des fins commerciales ou non, tout ou partie des informations ou des petites Annonces présentes sur le Service La foire aux plantes et sur le Site et les Applications ;</p>
          <p>reproduire sur tout autre support, à des fins commerciales ou non, tout ou partie des informations ou des petites Annonces présentes sur le Service La foire aux plantes et sur le Site Internet permettant de reconstituer tout ou partie des fichiers d'origine ;</p>
          <p>utiliser un robot, notamment d'exploration (spider), une application de recherche ou récupération de sites Internet ou tout autre moyen permettant de récupérer ou d'indexer tout ou partie du contenu du Site Internet et des Applications, excepté en cas d'autorisation expresse et préalable de La foire aux plantes;</p>
          <p>copier les informations sur des supports de toute nature permettant de reconstituer tout ou partie des fichiers d'origine.</p>
          <p>Toute reproduction, représentation, publication, transmission, utilisation, modification ou extraction de tout ou partie des Eléments et ce de quelque manière que ce soit, faite sans l'autorisation préalable et écrite de La foire aux plantes est illicite. Ces actes illicites engagent la responsabilité de ses auteurs et sont susceptibles d'entraîner des poursuites judiciaires à leur encontre et notamment pour contrefaçon.</p>
          <p>Les marques et logos La foire aux plantes et La foire aux plantes.fr, ainsi que les marques et logos des partenaires de La foire aux plantes sont des marques déposées. Toute reproduction totale ou partielle de ces marques et/ou logos sans l'autorisation préalable et écrite de La foire aux plantes est interdite.</p>
          <p>La foire aux plantes est producteur des bases de données du Service La foire aux plantes. En conséquence, toute extraction et/ou réutilisation de la ou des bases de données au sens des articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite.</p>
          <p>La foire aux plantes se réserve la possibilité de saisir toutes voies de droit à l'encontre des personnes qui n'auraient pas respecté les interdictions contenues dans le présent article.</p>
          <p>Liens hypertextes</p>
          <p>Le Service La foire aux plantes et/ou le Service de Paiement Sécurisé peut contenir des liens hypertextes redirigeant vers des sites exploités par des tiers. Ces liens sont fournis à simple titre d'information.</p>
          <p>La foire aux plantes n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à l'accès, au contenu ou à l'utilisation de ces sites, ainsi qu'aux dommages pouvant résulter de la consultation des informations présentes sur ces sites.</p>
          <p>La décision d'activer ces liens relève de la pleine et entière responsabilité de l'Utilisateur.</p>
          <p>Aucun lien hypertexte ne peut être créé vers le Service La foire aux plantes sans l'accord préalable et exprès de La foire aux plantes.</p>
          <p>Si un internaute ou une personne morale désire créer, à partir de son site, un lien hypertexte vers le Service La foire aux plantes et ce quel que soit le support, il doit préalablement prendre contact avec La foire aux plantes en lui adressant un email à l'adresse suivante lafoireauxplantes.contact@gmail.com.</p>
          <p>Tout silence de La foire aux plantes devra être interprété comme un refus.</p>
          <p>Le contenu des Annonces déposées appartient aux Annonceurs, néanmoins, en déposant des Annonces sur le Site Internet, l’Annonceur concède :</p>
          <p>à La foire aux plantes le droit d’exploitation non exclusif, transférable, sous licenciable, à titre gracieux, pour le monde entier sur (i) l’ensemble du contenu des Annonces et notamment sur les photographies, textes, illustrations, marques, logos, titres (ci-après le « Contenu »), au fur et à mesure de leur publication sur le Site ainsi qu’une licence sur l’ensemble des droits de propriété intellectuelle afférant au Contenu et notamment sur les droits d’auteurs sur les éléments utilisés dans son Annonce, tels que les photographies, textes, vidéos, dessins, illustrations, et ce pour toute la durée légale de ses droits de propriété intellectuelle et pour le monde entier.</p>
          <p>Les droits ainsi concédés incluent le droit de reproduire, représenter, diffuser, adapter, modifier, réaliser une œuvre dérivée, traduire tout ou partie du Contenu par tous procédés, sous quelque forme que ce soit et sur tous supports (numérique, imprimé…) connus ou inconnus à ce jour, dans le cadre du service La foire aux plantes ou en relation avec l’activité de La foire aux plantes, et ce à des fins commerciales ou non et notamment publicitaires, ainsi que dans le cadre d’une diffusion sur les réseaux sociaux sur lesquels La foire aux plantes est présent.</p>
          <p>En particulier, les photographies des Annonces pourront être reproduites et intégrées dans des formats publicitaires diffusés sur le Site Internet, uniquement en lien avec l’Annonce déposée.</p>
          <p>L’Annonceur accorde son consentement à la reprise de son Annonce et du Contenu de cette dernière sur les réseaux sociaux. Par conséquent, l’Annonceur atteste avoir pris connaissance des conditions générales d’utilisation des sites AJOUT et en accepter les termes, particulièrement en matière de réutilisation du Contenu et des données personnelles.</p>
          <p>Au titre de cette licence, LBC France, sans que cela ne crée à sa charge une obligation d’agir, est en droit de s’opposer à la reproduction et l’exploitation par des tiers non autorisés des Annonces diffusées sur le Site Internet et de leur Contenu.</p>
          <p>aux Utilisateurs, le droit non exclusif d’accéder au Contenu via le Service La foire aux plantes et d’utiliser et de représenter le Contenu dans la mesure autorisée par les fonctionnalités du Service La foire aux plantes, et ce pour le monde entier.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}