{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron container">
  <h2 style="text-align:center;">CONDITIONS GENERALES DE VENTE DU SERVICE LA FOIRE AUX PLANTES (26/01/2020)</h2>
</div>

<div class="container bg-light rounded" style="padding: 30px;">     
  <h1>????</h1> TEXTE À TROUVER ET IMPLÉMENTER (PEUT ÊTRE) <h1>????</h1>
</div>

{% endblock %}