{% extends 'base.html.twig' %}

{% block body %}
<div class="container bg-light rounded flex" style="max-height: 200px;">
  <center><img src="/uploads/images/qui.png" alt="pas de chance" style="margin-top: -70px;"></center>
</div>
<div class="container mt-4 bg-light rounded" style="padding: 30px;margin-top: 1em;">
    <div class="row">
        <div class="col-md-3">
          <p style="color: rebeccapurple;">UNE PHOTO Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt 
          </p>
          <p style="color: red;"> ET UNE AUTRE quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
            adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
          </p>
          </p>
        </div>
        <div class="col-md-9">
             ET DU TEXTE AUSSI
             <br>
             Bonjour je suis romain, bisous.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci commodi impedit ad qui libero sunt quam veritatis, consequuntur rerum repellat officiis sit amet consectetur eaque minima eius dolore fugiat? Qui!
        </div>
    </div>
</div>

{% endblock %}